<p-card styleClass="change-password-card mx-auto mt-5">
    <h2 class="text-center mb-4">{{"User.ChangePassword" | translate}}</h2>
    <form class="w-100 d-flex flex-column align-items-stretch gap-3" [formGroup]="passForm" (ngSubmit)="send()">
        <div>
            <p-password formControlName="oldPassword" [feedback]="false" [toggleMask]="true" placeholder="{{'User.EnterOldPassword' | translate}}"  styleClass="w-100" inputStyleClass="w-100"></p-password><br>
        </div>
        <div>
            <p-password formControlName="newPassword" [toggleMask]="true" placeholder="{{'User.EnterNewPassword' | translate}}" styleClass="w-100" inputStyleClass="w-100"></p-password>
        </div>
        <div>
            <p-password formControlName="repeatPassword" [feedback]="false" [toggleMask]="true" placeholder="{{'User.RepeatNewPassword' | translate}}"  styleClass="w-100" inputStyleClass="w-100"></p-password><br>
        </div>
        <span [hidden]="formControls['repeatPassword'].getError('passwordMatching') == null"  class="errormessage">{{'User.PasswordMissmatch' | translate}}</span>
        <button pButton [disabled]="passForm.invalid" type="submit" pLabel="Change" [loading]="loading" class="w-100">{{'User.Change' | translate}}</button>
    </form>
</p-card>