.errormessage {
    color: red;
}

:host::ng-deep {
    .change-password-card {
        width: 100%;
        max-width: 18em;
        min-width: 350px;
    }
    button {
        display: inline-block;
    }
}