.errormessage {
    color: red;
}

a {
    text-decoration: none;
  }

:host::ng-deep {
    .change-password-card {
        width: 100%;
        max-width: 18em;
        min-width: 350px;
        min-height: 400px;
    }
    button {
        display: inline-block;
        background-color: var(--primary-color);
    }
}