<p-card styleClass="change-password-card mx-auto mt-5">
    <h2 class="text-center mb-4">Change password</h2>
    <form class="w-100 d-flex flex-column align-items-stretch gap-3" [formGroup]="passForm" (ngSubmit)="send()">
        <div>
            <p-password  formControlName="password" [toggleMask]="true" placeholder="Enter password" styleClass="w-100" inputStyleClass="w-100"></p-password>
        </div>
        <div>
            <p-password  formControlName="repeatpassword" [feedback]="false" [toggleMask]="true" placeholder="Repeat password"  styleClass="w-100" inputStyleClass="w-100"></p-password><br>
        </div>
        <span [hidden]="formControls['repeatpassword'].getError('passwordMatching') == null"  class="errormessage">Password missmatched</span>
        <button pButton [disabled]="passForm.invalid" type="submit" pLabel="Change" [loading]="loading" class="w-100">Change</button>
    </form>
</p-card>