@import "src/_variables.scss";
table {
  width: 100%;
  border-collapse: collapse;
}
  
th,td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
  
button {
  margin-right: 5px;
}

:host ::ng-deep {
  .p-datatable {
    background-color: var(--white) !important;
    color: var(--black) !important;
    border: 2px solid var(--primary-color) !important;
    width: 1000px;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .p-button p-button-text {
    color: var(--white) !important;
    margin-right: 10px;
  }

  .search-container {
    display: flex;
    justify-content: space-between;
  }

  .content {
    max-width: 1000px;
  }
  
  .p-button-sm {
    background-color: var(--primary-color);
    size: 20px;
    position:absolute;
    right:50px;
  }

  .bigMessage {
    display: flex;
    justify-content: space-evenly
  }
}