<p-card styleClass="forgot-password-card mx-auto mt-5">
    <h2 class="text-center mb-4">Forgot password</h2>
    <form class="w-100" [formGroup]="resetForm" (ngSubmit)="submit()">
        <small class="text-center" id="email-help">Enter email to reset your password.</small>
        <div class="field w-100">
            <label for="email" class="block"></label>
                <input class="w-100" pInputText id="email" placeholder="Insert Email" formControlName="email"/><br>
        </div>
        <br>
        <div class="w-100 d-flex align-items-center justify-content-between">
            <button pButton type="button" label="Cancel" class="p-button-secondary" routerLink="/login"></button> 
            <button pButton [loading]="loading" type="submit" [disabled]="resetForm.invalid" label="Submit" ></button> 
        </div>
    </form>
</p-card>
<p-toast></p-toast>
<router-outlet></router-outlet>