@import "src/_variables.scss";

:host ::ng-deep {
  .p-menubar {
    background-color: var(--primary-color) !important;
    color: $white;
    border: none !important;
    border-bottom: 2px solid var(--primary-color) !important;
    border-radius: 0;
  }
  .p-menuitem {
    color: $white;
    max-width: 200px;
  }
  .p-button-raised {
    background-color: $orange;
  }
}