@import "primeicons/primeicons.css";
@import 'src/variables';

.input-filed {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 4px;
    padding-left: 10px;
}

input {
    border: transparent;
}

input:focus, textarea:focus{ 
    outline: none;
}

.pi {
    color: white;
    margin-right: 3px;
}

.pi-search {
    color: white;
    margin-left: 2px;
}

.td-padd {
    padding-top: 8px !important; 
    padding-bottom: 8px !important;
}

#searchAdminFilter {
    font-size: 14px !important;
    padding: 7px 10px 7px 3px;
}

.deleteBtn {
    background-color: $red !important;
}

button {
    margin-right: 5px;
}

th,td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

:host ::ng-deep {
    .p-datatable {
        background-color: var(--white) !important;
        color: var(--black) !important;
        border: 2px solid var(--primary-color) !important;
        width: 1250px;
        max-width: 100%;
        margin-bottom: 20px;
        margin-top: 1.3%;
    }

    .content {
        max-width: 1250px;
    }

    .p-button p-button-text {
        color: var(--white) !important;
    }

    .btn {
        background-color: var(--primary-color);
        border: var(--primary-color);
    }
}